body {
  background-image: linear-gradient(to right, blue, purple);
}

#output {
  color: white;
  font-size: 100px
  font-weight: bold;
  padding: 100px;
}
#ans  {
  text-indent: 150px;
}


button {
  color: purple;
  font-size: 50px;
  font-weight: bold;
  width:100%;
  height: 100%;
}

td {
  width: 100px;
  height: 100px;
}
#btn-plusmin  {
  width: 100%;
  height: 100%;
}


#btn-submit {
  width: inherit;
  height: inherit;
}
#btn-clear {
  width: inherit;
  height: inherit;
}
